/* UI Elements for Next Frame Extension */

:root {
    --next-frame-text-primary: #fff;
    --next-frame-text-secondary: #9b9b9b;
}

/* Pointer Indicator Styles */
.next-frame-pointer-indicator {
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    z-index: 999999;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s, width 0.3s, height 0.3s, opacity 0.5s;
    opacity: 0.7;
}

.next-frame-pointer-down {
    background-color: #ff0000; /* Red */
    width: 15px;
    height: 15px;
}

.next-frame-pointer-up {
    background-color: #ffff00; /* Yellow */
    width: 25px;
    height: 25px;
    animation: fadeOutPointer 0.5s ease-out forwards;
}

@keyframes fadeOutPointer {
    0% {
        opacity: 0.7;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.5);
    }
}

/* Statistics Overlay Styles - Updated to match Tailwind design */
.next-frame-stats-overlay {
    z-index: 999998;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 180px;
    /* width: auto; */

    /* Fallback for browsers that don't support backdrop-filter */
    background-color: rgba(19, 21, 23, 0.9);
    border-radius: 0.5rem;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.08), 0 3px 3px rgba(0, 0, 0, 0.1), 0 8px 7px rgba(0, 0, 0, 0.13),
        0 17px 14px rgba(0, 0, 0, 0.17), 0 35px 29px rgba(0, 0, 0, 0.22), 0px -4px 4px 0px rgba(0, 0, 0, 0.04) inset;

    font-size: calc(13rem / 16);
    cursor: default;
    /* user-select: none; // TODO: Manage user-select */
    margin: 32px;
}

@supports ((-webkit-backdrop-filter: blur(16px)) or (backdrop-filter: blur(16px))) {
    .next-frame-stats-overlay {
        background-color: #222b;
        -webkit-backdrop-filter: blur(16px);
        backdrop-filter: blur(16px);
    }
}

.next-frame-stats-section {
    padding: 10px;
}

.next-frame-stats-section + .next-frame-stats-section {
    padding-top: 0;
}

.next-frame-stats-label {
    display: flex;
    width: 100%;
    margin-bottom: 0.25rem; /* part of space-y-1 */
}

.next-frame-stats-title {
    color: var(--next-frame-text-primary);
}

.next-frame-fps-value {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 4px;
}

.next-frame-fps-time {
    color: #19d05c;
    white-space: nowrap;
}

.next-frame-fps-frames {
    color: var(--next-frame-text-secondary);
    white-space: nowrap;
    padding-left: 8px;
}

.next-frame-stats-value {
    color: #19d05c; /* TODO: Make these change color based on the delay (change on content.js) */
}

/* Loading indicator animation */
@keyframes pulse {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0.4;
    }
}

.next-frame-loading {
    animation: pulse 1.2s ease-in-out infinite;
    color: #ffa500 !important; /* Orange color for loading state */
}

.next-frame-stale {
    color: var(--next-frame-text-secondary);
}
